html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    z-index: 1;
    background-position: center;
    background-attachment: fixed;
}

.github-corner {
    opacity: 0.4;
}

.github-corner:hover {
    opacity: 1;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

#wrapper {
    height: 100%;
    display: grid;
}

#itemList {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

@media only screen and (min-width: 600px) {
    #itemList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 800px) {
    #itemList {
        grid-template-columns: repeat(6, 1fr);
    }
}

#itemList {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .4);
    font-size: 4em;
}

#itemList > * {
    padding: 15px;
    margin: 0 auto;
}

#itemList > a {
    color: #fff;
}

#itemList > a:hover {
    color: #c4c4c4;
}

.normal-text-box {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-size: 1em;
    display: inline-grid;
    margin: auto;
}

.normal-text-box a {
    color: white;
}

.normal-text-box > * {
    padding: 15px;
    margin: 0 auto;
}